@import url("./reset.css");
@font-face {
    font-family: asf;
    src: url("../fonts/Oswald-VariableFont_wght.ttf");
}
@font-face {
    font-family: comf;
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf");
}
@font-face {
    font-family: sPro;
    src: url("../fonts/SourceSansPro-Regular.ttf");
}
@font-face {
    font-family: manrope;
    src: url("../fonts/Manrope-VariableFont_wght.ttf");
}
a {
    text-decoration: none;
}
body,
a,
p,
span,
button {
    font-family: sPro;
}
h1 {
    font-family: manrope;
}
.h1-pre_header {
    font-family: sPro;
}
body {
    overflow-x: hidden;
}
.container {
    width: 1200px;
    display: block;
    margin: auto;
}
.fixed-menu {
    width: 100%;
    height: 80px;
    background: rgba(236, 236, 236, 0.85);
    top: 0;
    position: fixed;
    z-index: 666;
}
.menu-links,
.menu-logo,
.menu-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100%;
}
.fixed-menu .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu-links a,
.menu-number a {
    font-size: 20px;
    color: black;
    font-weight: 600;
    line-height: 80px;
    padding-right: 25px;
    padding-top: 0;
    padding-bottom: 0;
}
.menu-logo {
    background: url("../sources/WeAre.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.header-black {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
section {
    width: 100%;
}
.wr-header {
    width: 100%;
    height: 100vh;
    background: url("../sources/main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.wr-repear {
    width: 100%;
    height: 700px;
    background-color: white;
}
.linkToPrices {
    display: block;
    margin: auto;
    width: 200px;
    height: 60px;
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    color: white;
    line-height: 60px;
    background: rgba(100, 100, 100, 0.7);
    opacity: 0.9;
    text-transform: uppercase;
}
.linkToPrices:hover {
    opacity: 1;
}
.linkToPrices:active {
    transform: scale(0.9);
}
h1 {
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: white;
    padding-top: 250px;
    letter-spacing: 2px;
    /*text-shadow: 3px 3px 3px black, -3px -3px 3px black;*/
}
h2 {
    font-size: 30px;
    text-align: center;
    padding: 100px 0 20px 0;
    text-transform: uppercase;
}
.h1-pre_header {
    font-size: 35px;
    color: white;
    text-align: center;
    padding-top: 50px;
    /*text-shadow: 3px 3px 3px black, -3px -3px 3px black;*/
}
.header-buttons {
    width: 100%;
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-works,
.header-adress {
    width: 250px;
    height: 80px;
    border-radius: 20px;
    border: 2px solid white;
    box-sizing: border-box;
    margin: 20px;
    font-size: 25px;
    /*text-shadow: 3px 3px 3px black, -3px -3px 3px black;*/
    opacity: 0.85;
    color: white;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
    text-transform: uppercase;
}
.header-buttons a:hover,
.header-buttons button:hover {
    opacity: 1;
}
.header-buttons a:active,
.header-buttons button:active {
    transform: scale(0.9);
}
.header-adress {
    background: rgba(100, 100, 100, 0.7);
}
.header-works {
    background: rgba(100, 100, 100, 0.7);
}
.devices {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.devices p {
    font-size: 27px;
}
.devices span {
    font-size: 20px;
}
.wr-repear .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.devices-phone,
.devices-tablet,
.devices-laptop {
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    height: 370px;
    width: 310px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 5px;
}
.devices-phone:hover,
.devices-tablet:hover,
.devices-laptop:hover {
    border: 3px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.devices-phone:active,
.devices-tablet:active,
.devices-laptop:active {
    border: 3px solid rgba(0, 255, 21, 0.5);
    box-shadow: 0 0 5px rgba(0, 255, 21, 0.5);
    cursor: pointer;
}
.devices-pnone_img {
    width: 280px;
    height: 180px;
    background: url("../sources/phone.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.devices-tablet_img {
    width: 280px;
    height: 180px;
    background: url("../sources/tablet.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.devices-laptop_img {
    width: 280px;
    height: 180px;
    background: url("../sources/laptop.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.wr-any_question {
    width: 100%;
    background: rgba(236, 236, 236, 0.85);
    height: 150px;
}
.link-container {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 80%;
    line-height: 150px;
}
.qusetion-call_us {
    font-size: 30px;
}
.qusetion-call_us__number {
    width: 320px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 255, 0.305);
    font-size: 25px;
    text-align: center;
    line-height: 100px;
    color: white;
    text-decoration: none;
}
.qusetion-call_us__number:hover {
    background-color: rgba(0, 0, 255, 0.605);
}
.qusetion-call_us__number:active {
    transform: scale(0.9);
}
.wr-how_we_work {
    height: 900px;
}
.phone-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.how_we_work__phone-left,
.how_we_work__phone,
.how_we_work__phone-right {
    width: 297px;
    height: 606px;
}
.how_we_work__phone {
    background: url("../sources/6sfirm.png");
    background-size: contain;
    position: relative;
}
.phone-screen {
    position: absolute;
    top: 73px;
    left: 19px;
    width: 259px;
    height: 457px;
    background: url("../sources/brokenScreen.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 2s;
}
.phone-screen:hover {
    opacity: 0;
}
.how_we_work__phone-left,
.how_we_work__phone-right {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
}
.how_we_work__phone-left p {
    font-size: 35px;
    font-weight: 600;
    text-align: end;
    padding-bottom: 10px;
}
.how_we_work__phone-right p {
    font-size: 35px;
    font-weight: 600;
    text-align: start;
    padding-bottom: 10px;
}
.how_we_work__phone-left span {
    display: block;
    font-size: 25px;
    text-align: end;
    padding-top: 10px;
}
.how_we_work__phone-right span {
    display: block;
    font-size: 25px;
    text-align: start;
    padding-bottom: 10px;
}
.how_we_work__phone-left div:nth-child(1) {
    position: relative;
}
.how_we_work__phone-left div:nth-child(1)::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: url("../sources/quality.png");
    background-size: contain;
    top: 0;
    right: -75px;
}
.how_we_work__phone-left div:nth-child(2) {
    position: relative;
}
.how_we_work__phone-left div:nth-child(2)::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: url("../sources/guarantee.png");
    background-size: contain;
    top: 0;
    right: -75px;
}
.how_we_work__phone-left div:nth-child(3) {
    position: relative;
}
.how_we_work__phone-left div:nth-child(3)::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: url("../sources/speed.png");
    background-size: contain;
    top: 0;
    right: -75px;
}

.how_we_work__phone-right div:nth-child(1) {
    position: relative;
}
.how_we_work__phone-right div:nth-child(1)::before {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: url("../sources/diagnosis.png");
    background-size: contain;
    top: 0;
    left: -75px;
}
.how_we_work__phone-right div:nth-child(2) {
    position: relative;
}
.how_we_work__phone-right div:nth-child(2)::before {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: url("../sources/experience.png");
    background-size: contain;
    top: 0;
    left: -75px;
}
.how_we_work__phone-right div:nth-child(3) {
    position: relative;
}
.how_we_work__phone-right div:nth-child(3)::before {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: url("../sources/service.png");
    background-size: contain;
    top: 0;
    left: -75px;
}
.wr-about_fix-team {
    width: 100%;
    height: 600px;
}
.wr-about_fix-team .container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.about-fix__left-side {
    display: block;
    width: 40%;
    height: 100%;
    position: relative;
}
.about-fix__left-side div:nth-child(1) {
    display: block;
    position: absolute;
    width: 300px;
    height: 380px;
    background: url("../sources/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    border-radius: 20px;
    box-shadow: 5px 5px 7px -5px black, -5px -5px 7px -5px black;
}
.about-fix__left-side div:nth-child(2) {
    display: block;
    position: absolute;
    width: 210px;
    height: 270px;
    background: url("../sources/3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    top: 100px;
    left: 310px;
    border-radius: 20px;
    box-shadow: 5px 5px 7px -5px black, -5px -5px 7px -5px black;
}
.about-fix__left-side div:nth-child(3) {
    display: block;
    position: absolute;
    width: 290px;
    height: 220px;
    background: url("../sources/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    top: 280px;
    left: 160px;
    border-radius: 20px;
    box-shadow: 5px 5px 7px -5px black, -5px -5px 7px -5px black;
}
.about-fix__right-side {
    display: block;
    width: 40%;
    height: 100%;
    padding-top: 150px;
}
.about-fix__right-side h2 {
    padding: 0;
    font-size: 40px;
    text-align: start;
}
.about-fix__right-side p {
    font-size: 30px;
    text-align: start;
    padding-top: 20px;
    opacity: 0.8;
}
.wr-map {
    display: flex;
    flex-direction: row; 
    height: 400px;
}
.wr-map iframe {
    width: 50%;
    height: 400px;
}
.wr-map_about {
    display: block;
    width: 50%;
    background-color: rgb(0, 0, 85);
    padding: 50px;
}
.wr-map h2 {
    padding-top: 20px;
    font-size: 35px;
    font-weight: 600;
    color: white;
    text-align: start;
}
.wr-map p {
    font-size: 25px;
    color: white;
    text-align: start;
    line-height: 55px;
}
footer {
    height: 100px;
    width: 100%;
}
footer p,
footer a {
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 100px;
}

@media all and (max-height: 666px) {
    h1 {
        font-size: 38px;
        padding-top: 150px;
    }
    .h1-pre_header {
        font-size: 30px;
        padding-top: 30px;
    }
    .header-buttons {
        width: 100%;
        padding-top: 80px;
    }
    .header-buttons button,
    .header-buttons a,
    .linkToPrices,
    .linkToPrices {
        height: 50px;
        font-size: 20px;
        line-height: 50px;
    }
     
}
@media all and (max-height: 600px) { 
    h1 {
        font-size: 24px;
    }
    .h1-pre_header {
        font-size: 20px;
    }
    .header-buttons button,
    .header-buttons a,
    .linkToPrices {
        height: 40px;
        line-height: 40px;
    }
}
@media all and (max-width: 1200px) {
    .container {
        width: 90%;
    }
    .menu-links,
    .menu-number {
        width: 30%;
    }   
    .menu-logo {
        width: 200px;
    }
    h1 {
        font-size: 33px;
    }
    .h1-pre_header {
        font-size: 25px;
    }
    .wr-how_we_work {
        height: fit-content;
    }
    .phone-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .how_we_work__phone-left,
    .how_we_work__phone-right {
        grid-column-start: 2;
        grid-column-end: 3;
        display: block;
        margin: auto;
        height: fit-content;
    }
    .how_we_work__phone {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        display: block;
        margin: auto;
    }
    .how_we_work__phone-left span,
    .how_we_work__phone-left p {
        text-align: start;
        padding: 20px 0 0 0;
        margin: 0;
    }
    .how_we_work__phone-left div:nth-child(1)::after {
        top: 0;
        left: -75px;
    }
    .how_we_work__phone-left div:nth-child(2)::after {
        top: 0;
        left: -75px;
    }
    .how_we_work__phone-left div:nth-child(3)::after {
        top: 0;
        left: -75px;
    }
    .wr-about_fix-team {
        height: fit-content;
    }
    .about-fix__left-side {
        height: 480px;
        padding: 20px 0 20px;
    }
    .about-fix__right-side {
        padding: 50px 0;
        width: 80%;
    }
    .about-fix__right-side h2,
    .about-fix__right-side p {
        text-align: center;
    }
    .wr-about_fix-team .container {
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        align-items: center;
        height: 100%;
    }
}
@media all and (max-width: 1070px) {
    .wr-repear,
    .devices {
        height: fit-content;
        padding-bottom: 20px;
    }
    .devices {
        flex-direction: column;
    }
    .devices-phone,
    .devices-tablet,
    .devices-laptop {
        margin-bottom: 20px;
    }
    .wr-map {
        flex-direction: column; 
        height: fit-content;
    }
    .wr-map iframe,
    .wr-map_about {
        width: 100%;
    }
    .wr-map_about {
        padding: 0;
    }
    .wr-map_about h2,
    .wr-map_about p {
        padding-left: 30px;
    }
}
@media all and (max-width: 900px) {
    .about-fix__left-side {
        width: 100%;
    }
    .about-fix__left-side div:nth-child(1) {
        left: 15%;
    }
    .about-fix__left-side div:nth-child(2) {
        left: 55%;
    }
    .about-fix__left-side div:nth-child(3) {
        left: 33%;
    }
}
@media all and (max-width: 830px) {
    .phone-container {
        grid-template-columns: 1fr;
        position: relative;
    }
    .how_we_work__phone-left, 
    .how_we_work__phone-right {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .how_we_work__phone {
        margin-top: 30px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .how_we_work__phone-left span,
    .how_we_work__phone-right span,
    .how_we_work__phone-left p,
    .how_we_work__phone-right p {
        text-align: center;
        padding: 20px 0 0 0;
        margin: 0;
    }
    .how_we_work__phone-left div:nth-child(1)::after,
    .how_we_work__phone-left div:nth-child(2)::after,
    .how_we_work__phone-left div:nth-child(3)::after {
        left: 0;
    }
    .how_we_work__phone-right div:nth-child(1)::before,
    .how_we_work__phone-right div:nth-child(2)::before,
    .how_we_work__phone-right div:nth-child(3)::before {
        top: 13px;
        left: 0;
    }
    .qusetion-call_us {
        font-size: 23px;
    }
    .qusetion-call_us__number {
        width: 250px;
        height: 80px;
        line-height: 80px;
        font-size: 20px;
    }
}
@media all and (max-width: 830px) { 
    .menu-logo {
        display: none;
    }
    .menu-links, 
    .menu-number {
        width: 50%;   
    }
    .wr-any_question {
        height: 170px;
    }
    .qusetion-call_us {
        height: 70px;
        line-height: 70px;
    }
    .link-container {
        flex-direction: column;
        justify-content: space-around;
    }
    .wr-how_we_work h2 {
        padding: 50px 0 20px 0;
    }
}
@media all and (max-width: 510px) {
    .wr-map_about h2 {
        font-size: 30px;
    } 
    .wr-map_about p {
        font-size: 20px;
        line-height: 40px;
    }
}
@media all and (max-width: 500px) {
    h1 {
        font-size: 30px;
        padding-top: 130px;
    }
    .h1-pre_header {
        font-size: 22px;
    }
    .header-buttons {
        padding-top: 60px;
    }
    .header-buttons button,
    .header-buttons a,
    .linkToPrices {
        font-size: 17px;
    }
    h2 {
        font-size: 26px;
    }
    .devices p {
        font-size: 24px;
    }
    .devices span {
        font-size: 18px;
    }
    .how_we_work__phone-left span, 
    .how_we_work__phone-right span {
        font-size: 22px;
    }
    .how_we_work__phone-left p,
    .how_we_work__phone-right p {
        font-size: 32px;
        margin-top: 50px;
    }
    .how_we_work__phone-right div:nth-child(1)::before, 
    .how_we_work__phone-right div:nth-child(2)::before, 
    .how_we_work__phone-right div:nth-child(3)::before,
    .how_we_work__phone-left div:nth-child(1)::after, 
    .how_we_work__phone-left div:nth-child(2)::after, 
    .how_we_work__phone-left div:nth-child(3)::after {
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
    }
    .about-fix__left-side {
        display: none;
    }
    .menu-links a, 
    .menu-number a {
        font-size: 16px;
        padding-left: 0;
        padding-right: 0;
    }
    .menu-links a:nth-of-type(1) {
        padding-right: 10px;
    }
    .devices-phone, 
    .devices-tablet, 
    .devices-laptop {
        width: 300px;
    }
    .about-fix__right-side h2 {
        font-size: 30px;
    }
    .about-fix__right-side p {
        font-size: 25px;
    }
}
@media all and (max-width: 420px) {
    .header-buttons {
        flex-direction: column;
        padding-top: 10px;
    }
    .header-works, 
    .header-adress {
        margin: 10px;
    }
    .wr-map_about h2, 
    .wr-map_about p {
        padding-left: 15px;
    }
    .wr-map_about p {
        font-size: 17px;
        line-height: 31px;
    }
}
@media all and (max-width: 380px) {
    h2 {
        padding: 60px 0 20px 0;;
    }
}
@media all and (max-width: 320px) { 
    h1 {
        padding-top: 92px;
    }
    .h1-pre_header {
        padding-top: 18px;
    }
    .header-buttons button,
    .header-buttons a {
        height: 40px;
        line-height: 40px;
    }
    .linkToPrices {
        height: 33px;
        line-height: 33px;
    }
}
