@import url("./reset.css");
@font-face {
    font-family: asf;
    src: url("../fonts/Oswald-VariableFont_wght.ttf");
}
@font-face {
    font-family: comf;
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf");
}

a {
    text-decoration: none;
}
body,
a,
p,
span,
button {
    font-family: asf;
}
h1 {
    font-family: asf;
}
.h1-pre_header {
    font-family: comf;
}
body {
    overflow-x: hidden;
}
.container {
    width: 1200px;
    display: block;
    margin: auto;
}
.fixed-menu {
    width: 100%;
    height: 80px;
    background: rgba(236, 236, 236, 0.85);
    top: 0;
    position: fixed;
    z-index: 666;
}
.menu-links,
.menu-logo,
.menu-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100%;
}
.fixed-menu .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu-links a,
.menu-number a {
    font-size: 20px;
    color: black;
    font-weight: 600;
    line-height: 80px;
    padding-right: 25px;
    padding-top: 0;
    padding-bottom: 0;
}
.menu-logo {
    background: url("../sources/WeAre.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
header {
    width: 100%;
    height: 100vh;
}
header .container {
    height: 100%;
}
h1 {
    font-size: 35px;
    text-align: start;
    text-transform: uppercase;
    margin: 35vh 0 10vh;
    font-weight: 800;
}
.header-black {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
section {
    width: 100%;
}
.phone-page_wr-about-repear {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.phone-page_wr-about-repear_left-part {
    display: block;
    width: 48%;
    height: 100%;
    background: url("../sources/tabletRepear.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.phone-page_wr-about-repear_right-part {
    display: block;
    width: 48%;
    height: 100%;
}
.phone-page_wr-about-repear_right-part p {
    text-align: start;
    font-size: 30px;
}
.phone-page_prices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 380px 380px;
}
.phone-page_prices h3 {
    margin: 200px 0 30px;
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}
.phone-page_prices p {
    display: block;
    font-size: 20px;
    text-align: center;
}
.phone-page_wr-catalog h2 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.phone-page_prices div:nth-child(n):hover {
    border: 3px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.phone-page_prices div:nth-child(n):active {
    border: 3px solid rgba(0, 255, 21, 0.5);
    box-shadow: 0 0 5px rgba(0, 255, 21, 0.5);
    cursor: pointer;
}
.phone-page_prices div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 260px;
    height: 310px;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: url("../sources/ipad_screen_repair.png");
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
}
.phone-page_prices div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 260px;
    height: 310px;
    padding: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: url("../sources/ipad_battery_repair.png");
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
}
.phone-page_prices div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 260px;
    height: 310px;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: url("../sources/ipad_charging_port_r.png");
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
}
.phone-page_prices div:nth-child(4) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 260px;
    height: 310px;
    padding: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: url("../sources/ipad_other_repair.png");
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
}
.wr-any_question {
    margin: 10px 0 10px;
    width: 100%;
    background: rgba(236, 236, 236, 0.85);
    height: 150px;
}
.link-container {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 80%;
    line-height: 150px;
}
.qusetion-call_us {
    font-size: 30px;
}
.qusetion-call_us__number {
    width: 320px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 255, 0.305);
    font-size: 25px;
    text-align: center;
    line-height: 100px;
    color: white;
    text-decoration: none;
}
.qusetion-call_us__number:hover {
    background-color: rgba(0, 0, 255, 0.605);
}
.qusetion-call_us__number:active {
    transform: scale(0.9);
}
.wr-map {
    display: flex;
    flex-direction: row; 
    height: 400px;
}
.wr-map iframe {
    width: 50%;
    height: 400px;
}
.wr-map_about {
    display: block;
    width: 50%;
    background-color: rgb(0, 0, 85);
    padding: 50px;
}
.wr-map h2 {
    padding-top: 20px;
    font-size: 35px;
    font-weight: 600;
    color: white;
    text-align: start;
}
.wr-map p {
    font-size: 25px;
    color: white;
    text-align: start;
    line-height: 55px;
}
footer {
    height: 100px;
    width: 100%;
}
footer p,
footer a {
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 100px;
}
@media all and (max-width: 1200px) {
    h1 {
        font-size: 33px;
        margin: 25vh 0 7vh;
    }
    .phone-page_wr-about-repear_right-part p {
        font-size: 26px;
    }
    .container {
        width: 90%;
    }
    .menu-links,
    .menu-number {
        width: 30%;
    }   
    .menu-logo {
        width: 200px;
    }
}
@media all and (max-width: 1015px) {
    .phone-page_prices {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 380px 380px;
    }
    .phone-page_prices div:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .phone-page_prices div:nth-child(2) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .phone-page_prices div:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .phone-page_prices div:nth-child(4) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .wr-map {
        flex-direction: column; 
        height: fit-content;
    }
    .wr-map_about h2,
    .wr-map_about p {
        padding-left: 20px;
    }
    .wr-map_about {
        padding: 0;
    }
    .wr-map iframe,
    .wr-map_about {
        width: 100%;
    }
}
@media all and (max-width: 900px) {
    .phone-page_wr-about-repear {
        flex-direction: column-reverse;
    }
    header {
        height: fit-content;
        margin-bottom: 50px;
    }
    h1 {
        text-align: center;
        margin: 100px 0 50px;
    }
    .phone-page_wr-about-repear_right-part p {
        text-align: center;
    }
    .phone-page_wr-about-repear_left-part {
        width: 100%;
        height: 300px;
        margin: 20px 0;
    }
    .phone-page_wr-about-repear_right-part {
        width: 100%;
        height: fit-content;
        margin: 20px 0;
    }
}
@media all and (max-width: 830px) {
    .qusetion-call_us {
        font-size: 23px;
    }
    .qusetion-call_us__number {
        width: 250px;
        height: 80px;
        line-height: 80px;
        font-size: 20px;
    }
}
@media all and (max-width: 830px) { 
    .menu-logo {
        display: none;
    }
    .menu-links, 
    .menu-number {
        width: 50%;   
    }
    .wr-any_question {
        height: 170px;
    }
}
@media all and (max-width: 680px) {
    .phone-page_prices {
        grid-template-columns: 1fr;
        grid-template-rows: 340px 340px 340px 340px;
    }
    .phone-page_prices div:nth-child(1) {
        width: 200px;
        height: 280px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .phone-page_prices div:nth-child(2) {
        width: 200px;
        height: 280px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .phone-page_prices div:nth-child(3) {
        width: 200px;
        height: 280px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .phone-page_prices div:nth-child(4) {
        width: 200px;
        height: 280px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}
@media all and (max-width: 610px) {
    .wr-any_question {
        height: 170px;
    }
    .qusetion-call_us {
        height: 70px;
        line-height: 70px;
    }
    .link-container {
        flex-direction: column;
        justify-content: space-around;
    }
}
@media all and (max-width: 455px) {
    .wr-map_about h2 {
        font-size: 30px;
        line-height: 45px;
    }
    .wr-map_about p {
        line-height: 40px;
        font-size: 20px;
    }
}
@media all and (max-width: 455px) { 
    h1 {
        margin: 75px 0 15px;
        font-size: 30px;
    }
    .phone-page_wr-about-repear_right-part p {
        font-size: 23px;
    }
    .phone-page_wr-catalog h2 {
        font-size: 28px;
    }
    .wr-map_about p {
        font-size: 17px;
    }
}   